body{
	background-image: url("../img/oscuro2.png");
}

h2{
	position: center;
	font-size: 60px;
	margin: auto;
	color: #06B5FF;
	font-family: 'Indie Flower';
	text-align: center;

}

.wrap{
	padding: 0;
    width :75%;
    min-width:600px;
    background-image: url("../img/claro1.png");
    margin: auto;
}
.wrap h2{
	font-size: 40px;
}
p{
	font-family: 'Poiret One', cursive;
	font-size: 26px;
	color: black;
	padding: 5px;
}
h3{
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	text-align: center;
}

form{
	padding-bottom: 80px;
	text-align: center;
}
.nota{
	font-size: 15px;
	color: #0A5801;
	font-family: arial;
}


#frase{
 border: 1px solid #03F7FA;
 border-radius: 1px , 1px 1px 1px ; 
 text-align: center;
 width: 55%;
 font-size: 25px;
 padding: 8px;
 margin-left: 20px;
}

#acirculo{
 background-color: #05E0E8;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 30%;
  margin-left: 20px;
}
#atriangulo{
 background-color: #32A1E2;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 30%;
  margin-left: 20px;
}
#acuadrado{
 background-color: #04BED0;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 30%;
  margin-left: 20px;
}

#cvocales{
 background-color: #04BED0;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 30%;
  margin-left: 20px;
}
#cconsonantes{
 background-color: #04BED0;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 30%;
  margin-left: 20px;
}
#validarNumero{
 background-color: #04BED0;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 30%;
  margin-left: 20px;
}
input{
  height: 40px;
}
footer p{
	color: #2D97E8;
	text-align: center;
	font-size: 20px;
}